In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.patches as mpatches
from plotly.subplots import make_subplots
from wordcloud import WordCloud
import seaborn as sns  
sns.set(color_codes = True)
sns.set(style="whitegrid")
import plotly.figure_factory as ff
from plotly.colors import n_colors

In [6]:
data = pd.read_csv("country_vaccinations.csv")
data.head()

   country  ...                                     source_website
0  Algeria  ...  https://www.aps.dz/regions/116777-blida-covid-...
1  Algeria  ...  https://www.aps.dz/regions/116777-blida-covid-...
2  Andorra  ...  https://www.govern.ad/comunicats/item/12379-se...
3  Andorra  ...  https://www.govern.ad/comunicats/item/12379-se...
4  Andorra  ...  https://www.govern.ad/comunicats/item/12379-se...

[5 rows x 15 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2175 entries, 0 to 2174
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              2175 non-null   object
 1   iso_code                             1965 non-null   object
 2   date                                 2175 non-null   object
 3   total_vaccinations                   1437 non-null   float64
 4   people_vaccinated                    1128 non-null   float64
 5   people_fully_vaccinated              622 non-null    float64
 6   daily_vaccinations_raw               1168 non-null   float64
 7   daily_vaccinations                   2097 non-null   float64
 8   total_vaccinations_per_hundred       1437 non-null   float64
 9   people_vaccinated_per_hundred        1128 non-null   float64
 10  people_fully_vaccinated_per_hundred  622 non-null    float64
 11  daily_vaccinations_per_million       2097 non-null   float64
 12  vaccines                             2175 non-null   object
 13  source_name                          2175 non-null   object
 14  source_website                       2175 non-null   object
dtypes: float64(9), object(6)
memory usage: 255.0+ KB

In [9]:
data.isnull().sum()

country                                   0
iso_code                                210
date                                      0
total_vaccinations                      738
people_vaccinated                      1047
people_fully_vaccinated                1553
daily_vaccinations_raw                 1007
daily_vaccinations                       78
total_vaccinations_per_hundred          738
people_vaccinated_per_hundred          1047
people_fully_vaccinated_per_hundred    1553
daily_vaccinations_per_million           78
vaccines                                  0
source_name                               0
source_website                            0
dtype: int64

In [10]:
new_data = data.groupby(["country",'iso_code','vaccines'])['total_vaccinations','people_vaccinated','people_fully_vaccinated',
                                           'daily_vaccinations','total_vaccinations_per_hundred','people_vaccinated_per_hundred',
                                           "people_fully_vaccinated_per_hundred",'daily_vaccinations_per_million'].max().reset_index()
new_data.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning:

Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

     country  ... daily_vaccinations_per_million
0    Algeria  ...                            1.0
1    Andorra  ...                          854.0
2  Argentina  ...                          346.0
3    Austria  ...                         1363.0
4    Bahrain  ...                         6527.0

[5 rows x 11 columns]

In [12]:
new_data['vaccines'].value_counts()

Pfizer/BioNTech                          38
Moderna, Pfizer/BioNTech                 14
Oxford/AstraZeneca                        6
Sputnik V                                 3
Pfizer/BioNTech, Sinopharm                2
Sinovac                                   2
Oxford/AstraZeneca, Sinopharm             2
Sinopharm                                 1
Pfizer/BioNTech, Sinopharm, Sputnik V     1
Oxford/AstraZeneca, Sinovac               1
CNBG, Sinovac                             1
Oxford/AstraZeneca, Pfizer/BioNTech       1
Covaxin, Oxford/AstraZeneca               1
Name: vaccines, dtype: int64